<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="style.css">
    <title>Pagina web</title>
</head>
<body>
    <div class="cabeza">

        <div class="logo">
            <a href="#">logo</a>
        </div>


        <nav class="navbar">
            <a href="#">Inicio</a>
            <a href="#">Nosotros</a>
            <a href="#">Contacto</a>
            <a href="#">Productos</a>
            <a href="#">Precio</a>

        </nav>

        <header class="content header">
            <h2 class="title">Inicio</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Fuga vel delectus, perferendis deleniti cumque exercitationem blanditiis 
                nostrum, ex ratione maiores quia mollitia. Quas eligendi accusantium et, 
                facilis natus dolores iusto!
            </p>

            <div class="btn-home">
                <a href="#" class="btn">Saber mas</a>
                <a href="#" class="btn">Saber mas</a>
            </div>
        </header>

        <section class="content sau">

            <h2 class="title">Productos</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Reprehenderit molestiae est, sapiente delectus officia quibusdam. 
                Rerum aut mollitia tempora sequi neque pariatur tempore dolor,
                 illo eius iusto error recusandae minus?</p>


            <div class="box-container">
                <div class="box">
                    <i class="fab fa-angular"></i>
                    <h3>lorem</h3>
                    <p>sequi neque pariatur tempore dolor</p>
                </div>
            </div>

            <div class="box-apple">
                <div class="box">
                    <i class="fab fa-angular"></i>
                    <h3>lorem</h3>
                    <p>sequi neque pariatur tempore dolor</p>
                </div>
            </div>

            <div class="box-android">
                <div class="box">
                    <i class="fab fa-angular"></i>
                    <h3>lorem</h3>
                    <p>sequi neque pariatur tempore dolor</p>
                </div>
            </div>


        </section>

        <section class="content about">

            <h2 class="title">Nosotros</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                Soluta labore repellat vero provident, possimus repudiandae 
                adipisci asperiores ut odit cum voluptas voluptates architecto
                 earum fugiat facere rerum, reprehenderit quia quae!</p>

            <a href="#" class="btn">Saber mas</a>

            
        </section>

        <section class="content price">

            <article class="contain">
                <h2 class="title">Precio</h2>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                    Soluta labore repellat vero provident, possimus repudiandae 
                    adipisci asperiores ut odit cum voluptas voluptates architecto
                     earum fugiat facere rerum, reprehenderit quia quae!</p>

                     <a href="#" class="btn">Saber precio</a>

            </article>

        </section>

        <section class="content contact">
            <h2 class="title">contacto</h2>
            <p>9614593271</p>
            <figure class="map">
                <img src="Mapa.png" height="300px" width="30%" alt="Mapa">
            </figure>

        </section>


    </div>
    
</body>
</html>